<app-navbar></app-navbar> <!-- Include the navbar component -->
<app-header></app-header> <!-- Include the header component -->

<!-- Description Section -->
<section class="description">
    <div class="description-img">
        <img src="../../assets/images/HireSearch.png">
    </div>

    <div class="description-text">
        <h5>BeekinJobs</h5> <!-- Subtitle -->
        <h2>Unlocking Career Opportunities: Navigating Your Professional Journey with BeekinJobs. </h2>
        <!-- Main heading -->
        <p>Your tech career launchpad. Find your dream tech job with ease, matched to your skills and
            aspirations. Join us for professional success.</p> <!-- Description -->
        <a routerLink="#" class="btn">Read more</a>
    </div>
</section>

<hr class=mid-line> <!-- Horizontal line -->

<!--Feature Section -->
<section class="feature">
    <div class="feature-content">
        <div class="row">
            <div class="row-img">
                <img src="assets/images/2.png">
            </div>
            <h4>Top Profiles</h4> <!-- Feature 1: Top Profiles -->
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/images/3.png">
            </div>
            <h4>Profile Builder</h4> <!-- Feature 2: Profile Builder -->
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/images/1.png">
            </div>
            <h4>1:1 Mentor</h4> <!-- Feature 3: 1:1 Mentor -->
        </div>

    </div>
</section>
<app-footer></app-footer> <!-- Include the footer component -->