<app-navbar></app-navbar>
<app-header></app-header>
<!-- Description Section -->
<section class="description">
    <div class="description-img">
        <img src="../../assets/images/HireSearch.png">
    </div>

    <div class="description-text">
        <h5>BeekinJobs</h5>
        <h2>Unlocking Career Opportunities: Navigating Your Professional Journey with BeekinJobs. </h2>
        <p>Your tech career launchpad. Find your dream tech job with ease, matched to your skills and
            aspirations. Join us for professional success.
        </p>
        <a routerLink="#" class="btn">Read more</a>
    </div>  
</section>

<hr class=mid-line>

<!--Feature Section -->
<section class="feature">
    <div class="feature-content">
        <div class="row">
            <div class="row-img">
                <img src="assets/images/2.png">
            </div>
            <h4>Top Profiles</h4>
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/images/3.png">
            </div>
            <h4>Profile Builder</h4>
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/images/1.png">
            </div>
            <h4>1:1 Mentor</h4>
        </div>
     
    </div>
</section>
<app-footer></app-footer>